<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi dear! <%= @employee.full_name %></h1>
    <p>
      Your account has been updated successfully<br>
    </p>
  </body>
</html>
